.submit {
    color: white;
    background-color: darkblue;
    width: 400px;
}

#username {
    width: 400px;
}


#password {
    width: 400px;
}


h1 {
    padding-bottom: 50px;
    padding-top: 30px;
}

.img-fluid {
    width: 100%;
    height: 100vh;
}