/* Set the font family and size for the entire page */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
}
    
.negative {
    background-color: lightgreen;
}
.birdie {
    background-color: green;
    color: black
}

/* Style the navigation bar */
.navbar {
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
}

.navbar-brand {
    font-weight: bold;
}
.error {
    color: rgb(141, 69, 69);
}   
.nav-link {
    font-weight: bold;
}

/* Style the container for the page content */
.container {
    margin-top: 20px;
    margin-left: 0;
}

/* Style the form inputs */
.form-group label {
    font-weight: bold;
}

.form-control:focus {
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* Style the table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    max-height: 50px; /* Set the max height to 50px */
    overflow: hidden; /* Hide any overflow */
    text-overflow: ellipsis; /* Add an ellipsis to indicate truncated text */
    white-space: nowrap; /* Prevent line breaks */
}

th {
    font-weight: bold;
    background-color: #f8f9fa;
}

th:first-child {
    max-width: 40px; /* Set the max width to 50px */
}

td.hole-score-below-par { /* Add a CSS selector to target only the hole score cells */
    background-color: #c8e6c9; /* Set the background color to green */
}

/* Style the table rows */
tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #e9ecef;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.hole-score {
    display: inline-block;
    margin-right: 10px;
    background-color: #ddd;
    padding: 2px 5px;
    border-radius: 5px;
}
.hole-score.hole-in-one {
    background-color: yellow;
    color: black;
}
.hole-score.albatross {
    background-color: lightgreen;
    color: black;
}
.hole-score.eagle {
    background-color: blue;
    color: black;
}
.hole-score.birdie {
    background-color: lightblue;
    color: black;
}
.hole-score.par {
    background-color: #ddd;
    color: black;
}
.hole-score.bogey {
    background-color: lightsalmon;
    color: black;
}
.hole-score.double-bogey {
    background-color: red;
    color: black;
}
.hole-score.triple-bogey {
    background-color: darkred;
    color: black;
}
.hole-score.quatro-bogey {
    background-color: black;
    color: white;
}
.results-table {
    width: 100%;
    border-collapse: collapse;
}
.results-table th, .results-table td {
    border: 1px solid #000000;
    padding: 8px;
}
.results-table th {
    background-color: #f2f2f2;
    text-align: left;
}
.hole-score {
    margin-right: 10px;
    padding: 5px;
    border-radius: 5px;
    background-color: #f2f2f2;
}
table tr td:last-child {
    width: 1%;  /* Adjust as needed */
    white-space: nowrap;
}