<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/055aa16451.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>About Our Disc Golf Statistics App</title>
   
</head>



<body>
    <div class="container">
        <h1>About Our Disc Golf Statistics App</h1>
        <p>
            Our Disc Golf Statistics App is a web application designed to manage and display disc golf-related data, including player scores, courses, rounds, and scorecards.
           
        </p>
    </div>

    <nav role="navigation">
        <div id="menuToggle">
            
            <input type="checkbox" />
    
            <span></span>
            <span></span>
            <span></span>
    
            <ul id="menu">
    
                <a href="guu">
                    <li>Home</li>
                </a>
                <a href="/index">
                    <li>Statistics</li>
                </a>
                <a href="/about">
                    <li>About</li>
                </a>
                
                <a class="pure-button pure-button-active" href="/">
                    <i class="fa-solid fa-right-from-bracket" style="color: #000000;"></i>
                </a>
    
    
            </ul>
    
        </div>
    </nav>
</body>
</html>
