<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}DGS - Disc Golf Statistics{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<html>
    <head>
        <title>Error</title>
        <body>
            <h1>Error</h1>
            <p>{{ message }} </p>
        </body>
    </head>
</html>