<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DGS</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"
        integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="favicon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="https://kit.fontawesome.com/055aa16451.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav role="navigation">
        <div id="menuToggle">

            <input type="checkbox" />

            <span></span>
            <span></span>
            <span></span>

            <ul id="menu">

                <a href="/dashboard">
                    <li><i class="fa-solid fa-cubes"></i>Dashboard</li>
                </a>
                <a href="/index">
                    <li><i class="fa-solid fa-chart-line"></i>Statistics</li>
                </a>
                <a href="/teams">
                    <li><i class="fa-solid fa-people-group"></i>Teams</li>
                </a>

                <a class="pure-button pure-button-active" href="/logout">
                    <i class="fa-solid fa-right-from-bracket"></i>
                </a>


            </ul>

        </div>
    </nav>

    <h1>{{ team.name }}</h1>
    <p>Created on: {{ team.members[0].joined_at.strftime('%Y-%m-%d') if team.members else 'N/A' }}</p>
    <p>Created by: {{ team.creator_id }}</p>

    <h2>Members:</h2>
    <ul>
        {% for member in team.members %}
            <li>{{ member.user.username }}</li>
        {% endfor %}
    </ul>

    <p><a href="/teams">Back to Teams</a></p>

</body>

</html>
